.editor-div {
    width: 50%;
}

.button-bar {
    height: 2em;
    display: flex;
    align-items: center;
    .bold-button {
        @media (max-width: 500px) {
            border: 1px solid green;
        }
    }
}
