.editor-div {
    width: 70%;
}
.button-bar {
    height: 2em;
    display: flex;
    align-items: center;
    .bold-button {
        @media (max-width: 500px) {
            border: 1px solid green;
        }
    }
}
div.DraftEditor-root {
    height: 20vh;
    text-align: left;
}
.DraftEditor-editorContainer {
    height: 20vh;
}
// .public-DraftStyleDefault-block.public-DraftStyleDefault-ltr {
//     height: 20vh;

//     &:hover {
//         background: #f8f8f8;
//     }
// }
.headlineButton {
    background: #fbfbfb;
    color: #888;
    font-size: 18px;
    border: 0;
    padding-top: 5px;
    vertical-align: bottom;
    height: 34px;
    width: 36px;
  }
  
  .headlineButton:hover,
  .headlineButton:focus {
    background: #f3f3f3;
  }
  .draftJsToolbar__toolbar__dNtBH {
      display: flex;
      width: 58.4%;
      min-width: 272px;
      max-width: 272px;
  }
  .toolbar-header {
      margin-bottom: 1rem;
  }
  .public-DraftStyleDefault-block {
    .public-DraftStyleDefault-ltr {
        &:hover {
            background: #f9f9f9
        }
    }
  }
  .render-test {
      border: 1px solid red;
      text-align: left;
  }